@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@700&family=Playpen+Sans:wght@100..800&display=swap");
@import "tailwindcss";



@theme{
    --font-outfit: Outfit,"sans-serif"; 
    --font-rammetto : Rammetto One,"sans-serif";
    --font-Playpen : Playpen Sans,"sans-serif";
}



