@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap");
@import "tailwindcss";


@theme{
    --font-rammetto : Rammetto One,"sans-serif";
    --font-outfit: Outfit,"sans-serif";
     



    --drop-shadow-3xl: 0 35px 35px rgba(255,255,255,255,0.35); 

    --animate-wiggle: wiggle 1s ease-in-out infinite;
    @keyframes wiggle {
      0%,
      100% {
        transform: rotate(-3deg);
      }
      50% {
        transform: rotate(3deg);
      }
    }
    
}


/*@font-face {
    font-family: Rammetto One;
    src: url(../fonts/RammettoOne-Regular.ttf);
};

.outfit-<uniquifier> {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.rammetto-one-regular {
    font-family: "Rammetto One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
 */
